{
  "env": {
    "node": true,
    "es2021": true
  },
  "parserOptions": {
    "ecmaVersion": "latest"
  },
  "extends": ["eslint:recommended", "plugin:unicorn/recommended", "prettier"],
  "plugins": ["unicorn", "prettier"],
  "rules": {
    "comma-dangle": ["error", "only-multiline"],
    "unicorn/prefer-module": 0,
    "unicorn/filename-case": [
      "error",
      {
        "cases": {
          "camelCase": true,
          "pascalCase": true
        }
      }
    ],
    "unicorn/prevent-abbreviations": [
      "error",
      {
        "ignore": ["args"]
      }
    ],
    "unicorn/no-null": 0
  }
}
