name: Changesets Release PR

on:
  push:
    branches:
      - master
  workflow_dispatch:

permissions:
  contents: write
  pull-requests: write

jobs:
  release:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 0   # need full history for tags/changesets
          fetch-tags: true

      - name: Install
        uses: ./.github/composite-actions/install

      - name: Create or update release PR
        uses: changesets/action@v1
        with:
          commit: "chore: release"
          title: "chore: release"
          version: "npm run changeset:version"
          publish: "npm run changeset:publish"
