name: Attach SDK Tarball

on:
  release:
    types:
      - published
  workflow_dispatch:

permissions:
  contents: write

jobs:
  build-and-upload:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Install
        uses: ./.github/composite-actions/install

      - name: Pack SDK tarball
        id: pack
        run: |
          PACK_JSON=$(npm pack ./packages/sdk --json)
          echo "pack json: $PACK_JSON"
          TARBALL=$(node -e "const [pack] = JSON.parse(process.argv[1]); console.log(pack.filename;" "$PACK_JSON")
          echo "tarball_path=$(pwd)/$TARBALL" >> "$GITHUB_OUTPUT"

      - name: Upload release asset
        uses: softprops/action-gh-release@v2
        with:
          files: ${{ steps.pack.outputs.tarball_path }}
